@import "tailwindcss";

/* jetbrains-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
  --font-sans: 'JetBrains Mono', monospace, system-ui;

  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-grey-950: hsl(255, 22%, 4%);
  --color-grey-900: hsl(248, 17%, 9%);
  --color-grey-850: hsl(248, 15%, 11%);
  --color-grey-800: hsl(248, 10%, 15%);
  --color-grey-700: hsl(248, 5%, 34%);
  --color-grey-600: hsl(251, 9%, 53%);
  --color-grey-200: hsl(252, 11%, 91%);

  --color-green-200: hsl(127, 100%, 82%);
  --color-yellow-300: hsl(42, 91%, 68%);
  --color-orange-400: hsl(13, 95%, 66%);
  --color-red-500: hsl(0, 91%, 63%);

  --background-image-gradient: linear-gradient(90deg, var(--color-grey-900), var(--color-grey-950))
}

@layer base {
  body {
    @apply bg-grey-950 antialiased;
    margin: 0;
  }
}

@utility text-preset-1 {
  @apply text-[2rem] leading-[1.3125] font-bold
}

@utility text-preset-2 {
  @apply text-[1.5rem] leading-[1.3334] font-bold
}

@utility text-preset-3 {
  @apply text-[1.125rem] leading-[1.3334] font-bold
}

@utility text-preset-4 {
  @apply text-[1rem] leading-tight font-bold
}

@utility custom-slider {
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: var(--color-grey-950);
  outline: none;

  &::-webkit-slider-runnable-track {
    appearance: none;
    height: 0.5rem;
    background: transparent;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--color-grey-200);
    cursor: pointer;
    margin-top: -8px;
    border: 2px solid var(--color-grey-200);
    transition: all 0.2s ease;
  }

  &:hover::-webkit-slider-thumb {
    background: var(--color-grey-950);
    border-color: var(--color-green-200);
  }

  &:active::-webkit-slider-thumb {
    background: var(--color-grey-950);
    border-color: var(--color-green-200);
  }

  &::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--color-grey-200);
    border: 2px solid var(--color-grey-200);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  &:hover::-moz-range-thumb {
    background: var(--color-grey-950);
    border-color: var(--color-green-200);
  }
}

@utility custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-grey-200);
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--color-green-200);
  }

  &:checked {
    background-color: var(--color-green-200);
    border-color: var(--color-green-200);
  }

  &:checked::before {
    content: "";
    width: 12px;
    height: 9px;
    background-color: var(--color-grey-900);
    mask-image: url('./assets/images/icon-check.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url('./assets/images/icon-check.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
  }
}